// Font
$primary-font-family: 'Ubuntu', sans-serif;

// Colors
$primary-dark-color: #101010;
$secondary-dark-color: #202020;
$primary-light-color: #dddddd;
$secondary-light-color: #fefefe;
$primary-accent-color: #10cd8f;
$secondary-accent-color: #060937;

//Font size
$default-font-size: 100%;

//Radius
$border-radius: 15px;