@import "../../style/abstract/var.scss";

.validation {
    padding: 10px;

    &.true {
        color: #c52727;
    }

    &.false {
        color: $primary-accent-color;
    }
}

.data {
    padding: 10px;
    overflow-y: auto;
}